---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Map - Under Development">
  <div style="text-align: center; margin-top: 4rem;">
    <h1>This page is still in development</h1>
    <p>The map feature will be available soon. Please check back later!</p>
  </div>
</BaseLayout>