<footer style="
  background: #181c24;
  border-top: 2px solid #bfa046;
  padding: 0.7rem 0 0.4rem 0;
  color: #bfa046;
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 0.95rem;
  text-align: center;
">
  <div style="margin-bottom: 0.3rem;">
    <a href="https://discord.gg/yourinvite" target="_blank" style="color: #bfa046; text-decoration: none; margin: 0 0.7rem;">Discord</a>
    |
    <a href="https://twitter.com/yourtwitter" target="_blank" style="color: #bfa046; text-decoration: none; margin: 0 0.7rem;">Twitter</a>
    |
    <a href="https://youtube.com/youryoutube" target="_blank" style="color: #bfa046; text-decoration: none; margin: 0 0.7rem;">YouTube</a>
  </div>
  <div style="color: #fffbe6; font-size: 0.9rem;">
    &copy; {new Date().getFullYear()} The Shattered Crown. All rights reserved.
  </div>
</footer>